/* emphasized-first-paragraph.scss */
%emphasized {
  font-size: var(--emphasized-font-size);
  font-weight: var(--emphasized-font-weight);
  line-height: var(--emphasized-line-height);
}

main > {
  section,
  article {
    > h1 {
      & + p {
        @extend %emphasized;

        a,
        span {
          @extend %emphasized;
        }
      }
    }

    /* With content wrapper */
    > div {
      > h1 {
        & + p {
          @extend %emphasized;

          a,
          span {
            @extend %emphasized;
          }
        }
      }
    }
  }
}
