/* footer.scss */

/* Add to manon as footer variant */
@use "@minvws/manon/layout-two-thirds-one-third";

body > footer > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--layout-two-thirds-one-third-gap);
  width: 100%;

  > * {
    width: 100%;
    box-sizing: border-box;
  }

  @media (min-width: 42rem) {
    gap: var(--layout-two-thirds-one-third-breakpoint-1-gap);

    > * {
      width: 33.33%;

      &:nth-child(odd) {
        max-width: calc(
          66.66% - var(--layout-two-thirds-one-third-gap)
        ); /* Overriding max-line-length */

        width: calc(66.66% - var(--layout-two-thirds-one-third-gap));
      }
    }
  }
}
