/* form.scss */

/* Add to manon as footer variant */

form {
  overflow: auto;

  > button,
  > a.button,
  > input[type="button"],
  > input[type="submit"],
  > input[type="reset"] {
    margin-top: 1rem;
  }
}

form *:focus,
form *:focus + label::before {
  outline-offset: 0;
}

form.horizontal-view > {
  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    width: 100%;
    margin-left: 0;
  }

  div.horizontal-view:last-child {
    max-width: 100%;

    button,
    a.button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      width: 100%;
      flex-grow: 1;
    }
  }

  @media screen and (width >= 32rem) {
    div.horizontal-view:last-child {
      margin: 0;
      margin-left: calc((33.33%) + var(--form-horizontal-view-gap));
      justify-content: flex-start;
      width: auto;

      button,
      a.button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"] {
        width: auto;
        margin-left: 0;
      }
    }

    button,
    a.button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      width: auto;
      margin-left: calc((33.33%) + var(--form-horizontal-view-gap));
    }

    p,
    a,
    span {
      margin-left: calc((33.33%) + var(--form-horizontal-view-gap));
      max-width: 66.66%;
    }
  }

  @media screen and (width >= 50rem) {
    div.horizontal-view:last-child {
      button,
      a.button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"] {
        width: auto;
        margin-left: 0;
        flex-grow: 0;
      }
    }
  }
}

form.horizontal-view {
  .notification,
  .error,
  .warning,
  .confirmation,
  .explanation,
  .system {
    flex-direction: column;
    align-items: flex-start;

    > * {
      max-width: 100%;
    }
  }

  .system {
    border: 1px solid var(--notification-system-border-color);
  }
}

form > fieldset div > * {
  margin-bottom: 0.5rem;
}

/* Align labels next to inputs within checkboxes within fieldsets */
form > fieldset .checkbox .horizontal-view > div {
  max-width: 90%;
}

form.horizontal-view {
  > fieldset {
    > div {
      gap: 0; /* resetting gap as it can not be used within fieldsets */

      @media (width >= 24rem) {
        > * {
          gap: 0; /* resetting gap as it can not be used within fieldsets */
          width: calc(
            var(--form-horizontal-view-input-max-width) - var(--form-horizontal-view-gap)
          );
        }
      }
    }

    .checkbox {
      margin-left: 0;
      max-width: 100%;
      width: 100%;

      input {
        float: left;
      }
    }

    @media screen and (width >= 32rem) {
      .checkbox {
        margin-left: calc((33.33%) + var(--form-horizontal-view-gap));
        width: calc(var(--form-horizontal-view-input-max-width) - var(--form-horizontal-view-gap));
      }

      + button {
        margin-left: calc((33.33%) + var(--form-horizontal-view-gap));
      }
    }
  }
}
