/* group-choice-list.scss */

/* Add these fixes to manon */

form.horizontal-view > fieldset.grouped-choice-list {
  @media screen and (width >= 32rem) {
    legend {
      margin-bottom: -2rem;
      top: 0;
      max-width: 33.33%;
      position: absolute;
      padding-right: 1rem;
      box-sizing: border-box;
    }

    label {
      width: 100%;
      margin: 0;
    }
  }
}
