/* links.scss */

/* Add to manon */

a {
  &:active,
	&.active /* Testing purposes */ {
    outline: 1px dotted #ffffff;
    outline-offset: 0; /* Adding some spacing between the content and the outline */
    z-index: 1; /* Laying the focussed area on top of any follow up messages */
  }
}
