main > *:last-child {
  padding-bottom: 0;

  &.background-color-offset {
    padding-bottom: var(--page-whitespace-bottom);
    margin-bottom: calc(
      0rem - var(--page-whitespace-bottom)
    ); /* visually countering the default padding on main. */
  }
}
