/* page-meta.scss */

/* Add this component to manon */

.page-meta {
  background-color: var(--grey-1);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.25rem 1rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  color: #000000;
  min-height: 1.5rem;

  > div {
    width: auto;
    padding: 0;

    > p,
    > span {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .language {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
