/* table.scss */

/* Add this exception to manon */

table {
  th {
    a,
    a:visited {
      color: var(--brand-text-color);

      &:hover {
        color: var(--brand-text-color);
      }

      &:focus {
        outline-color: white;
      }
    }
  }
}
