$font-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/fonts" !default;
$img-path: "@minvws/nl-rdo-rijksoverheid-ui-theme/img" !default;
$brand-color: "ruby-red" !default;
$enhance-contrast: false !default;
