$ro-font-path: "../../../fonts" !default;
$ro-img-path: "../../img" !default;

/* Manon components */
@use "manon";

/* Theme: Rijksoverheid. */
@use "theme" with (
  $font-path: $ro-font-path,
  $img-path: $ro-img-path
);

/* Rijksoverheid-specific components */
@use "components";

/* Extended icon set */
@use "icons-extended";
