$ro-font-path: "../../../fonts" !default;
$ro-img-path: "../../img" !default;

/* Manon Components */
@use "manon/manon-components";

/* Theme: Rijksoverheid. */
@use "theme" with (
  $font-path: $ro-font-path,
  $img-path: $ro-img-path,
);
