/* Icons extended */

@use "sass:map";
@use "@minvws/manon/mixins/icon";
@use "../fonts/ro-icons-extended";
@use "base";
@use "gezondheid-en-zorg";
@use "computer-en-internet";
@use "gebouwen";

$glyphs: map.merge(
  base.$glyphs,
  map.merge(gezondheid-en-zorg.$glyphs, map.merge(computer-en-internet.$glyphs, gebouwen.$glyphs))
);

@include icon.define-icons($glyphs, "before", "ro-icons-extended");
