$glyphs: (
  "ascending": "\E801",
  "descending": "\E802",
  "sort": "\E803",
  "check": "\E804",
  "pinterest": "\E806",
  "twitter": "\E807",
  "twitter-inverse": "\E808",
  "flickr": "\E809",
  "youtube": "\E80A",
  "instagram": "\E80B",
  "facebook": "\E80C",
  "chevron-light-right": "\E80D",
  "chevron-light-left": "\E80E",
  "chevron-light-up": "\E80F",
  "chevron-light-down": "\E810",
  "chevron-left": "\E811",
  "hamburger": "\E812",
  "chevron-right": "\E813",
  "questionmark": "\E814",
  "speech": "\E815",
  "arrow-down": "\E816",
  "arrow-up": "\E817",
  "arrow-right": "\E818",
  "arrow-left": "\E819",
  "map": "\E81A",
  "outgoing": "\E81B",
  "pause": "\E81C",
  "trash": "\E81D",
  "user": "\E81E",
  "chevron-up": "\E81F",
  "chevron-down": "\E820",
  "plus": "\E821",
  "calendar": "\E822",
  "download": "\E823",
  "heart": "\E824",
  "letter": "\E825",
  "reset": "\E826",
  "play": "\E827",
  "search": "\E828",
  "clock": "\E829",
  "close": "\E82B",
  "line": "\E82C",
  "lock-closed": "\E901",
  "on-off": "\E902",
  "to-top": "\E903",
  "grid": "\EAC2",
  "list": "\EAC3",
  "csv-file": "\EAC4",
  "html-file": "\EAC5",
  "pdf-file": "\EAC6",
  "document": "\EAC7",
  "bar-graph": "\EAC8",
  "tree-graph": "\EAC9",
  "grid-view": "\EACA",
  "list-view": "\EACB",
);
