$glyphs: (
  "chip": "\e946",
  "computer": "\E947",
  "oude-computer": "\E948",
  "dataverkeer": "\E949",
  "digitaal-onderzoek": "\E94a",
  "digitale-uitwisseling": "\E94b",
  "nieuwe-computer": "\E94c",
  "gamecontroller": "\E94d",
  "grafieken-op-beeldscherm": "\E94e",
  "beeldscherm-met-hartpng": "\E94f",
  "hybride-laptop": "\E950",
  "informatie-op-internet": "\E951",
  "internet": "\E952",
  "ga-naar-www": "\E953",
  "internet-archief": "\E954",
  "laptop": "\E955",
  "laptop-met-huis": "\E956",
  "cybersecurity": "\E957",
  "printer": "\E95c",
  "server": "\E95d",
  "smartphone": "\E95e",
  "smartphone-bedienen-met-vinger": "\E95f",
  "usb-lader": "\E960",
  "tablet": "\E961",
  "televisie": "\E962",
  "website": "\E963",
  "webwinkel": "\E964",
  "ict": "\E965",
  "computercode": "\E966",
  "digitalisering": "\E967",
  "ux-design": "\E968",
  "database": "\E969",
  "application": "\e96a",
  "basisregistratie": "\E96b",
  "gegevensuitwisseling": "\E96c",
  "smartphone-met-streep-erdoor": "\E96d",
  "beeldscherm-met-streep-erdoor": "\E96e",
  "inloggen": "\E96f",
  "online-leren": "\E970",
  "online-groepstraining": "\E971",
  "wifi": "\E972",
  "beeldbellen": "\E973",
  "zendmast": "\E974",
);
