$glyphs: (
  "2-hoge-gebouwen-met-pijl-naar-rechts": "\e975",
  "huurwoning": "\E976",
  "bakkerijketens": "\E977",
  "koopwoning": "\E978",
  "cateringbedrijven": "\E979",
  "circulaire-bouw": "\E97a",
  "dorp": "\E97b",
  "gemeente-en-provinciefonds": "\E97c",
  "leefbaarheid": "\E97d",
  "evenemententent": "\E97e",
  "festival-ehbo": "\E97f",
  "schone-industrie": "\E980",
  "fabriek-aan-water": "\E981",
  "fabriek-met-stapel-munten": "\E982",
  "uw-cak": "\E983",
  "gebouw-cjib": "\E984",
  "gebouw-cvz": "\E985",
  "gebouw-igz": "\E986",
  "villa": "\E987",
  "ambassade-consulaat": "\E988",
  "school": "\E989",
  "sector-speciaal-onderwijs": "\E98a",
  "rechtbank": "\E98b",
  "home": "\E98c",
  "overstroming-dreiging-1": "\E98d",
  "overstroming-dreiging-2": "\E98e",
  "overstroming-dreiging-3": "\E98f",
  "leegstand": "\E990",
  "kleinschalig-wonen": "\E991",
  "instortingsgevaar": "\e992",
  "woninginbraak": "\E993",
  "huis-visueel-gehandicapten": "\E994",
  "huis-auditief-gehandicapten": "\E995",
  "lokaal-welzijnswerk": "\E996",
  "huis-psychiatrische-patienten": "\E997",
  "verpleeghuis": "\E998",
  "huis-verstandelijk-gehandicapten": "\E999",
  "huis-lichamelijk-gehandicapten": "\E99a",
  "woning-gelijkvloers-wel-rollator": "\E99b",
  "rolstoel-toegankelijke-woning": "\E99c",
  "huurtoeslag": "\E99d",
  "adl-woning": "\E99e",
  "huisvesting": "\E99f",
  "woning-met-verdieping": "\E9a0",
  "woning-met-traplift": "\E9a1",
  "coffeeshop": "\E9a2",
  "coffeeshop-in-wijk": "\E9a3",
  "huiselijk-geweld": "\E9a4",
  "beschermde-woonomgeving": "\E9a5",
  "laag-huis": "\E9a6",
  "grootstedelijk": "\E9a7",
  "excellente-scholen": "\E9a8",
  "gebouw-nvwa": "\E9a9",
  "gebouw-vws": "\E9aa",
  "gebouw-zini": "\E9ab",
  "uitvoering": "\E9ac",
  "hoog-huis": "\E9ad",
  "basis-kantoorgebouw": "\E9ae",
  "schade": "\E9af",
  "flat": "\E9b0",
  "leegstand-en-tijdelijk-gebruik": "\E9b1",
  "ziekenhuis": "\E9b2",
  "gebouwenbeheer": "\E9b3",
  "hoogbouw-met-pijl-naar-2-hoge-gebouwen": "\E9b4",
  "man-torso-voor-hoogbouw": "\E9b5",
  "gebouw-ggz": "\E9b6",
  "zorgkantoor": "\E9b7",
  "grote-brand": "\E9b8",
  "actieve-gevel": "\E9b9",
  "kantoor-vol-energie": "\E9ba",
  "ondernemingen": "\E9bb",
  "horecaketens": "\E9bc",
  "toren": "\E9bd",
  "moskee": "\E9be",
  "ontwerp": "\E9bf",
  "rijtjeshuis": "\E9c0",
  "industrie": "\E9c1",
  "industrie-met-druppel-water": "\E9c2",
  "schuur-met-silo-erachter": "\E9c3",
  "stacaravan": "\E9c4",
  "supermarktketens": "\E9c5",
  "megastallen": "\E9c6",
  "monument": "\E9c7",
  "dreiging-van-buitenaf": "\e9c8",
  "drie-personen-in-huis": "\E9c9",
  "gebouw-met-busje": "\E9ca",
  "gemeentehuissvg": "\E9cb",
);
