$glyphs: (
  "voor-elkaar-zorgen": "\E904",
  "hart-met-oudere": "\E905",
  "hart-tussen-2-uitgestoken-handen": "\E906",
  "hoofd-silhouet-hoesten": "\E907",
  "hoofd-silhouet-met-wattenstaafje-bij-mond": "\E908",
  "jeugdzorg": "\E909",
  "gezinszorg-met-oudere": "\E90a",
  "gezinszorg": "\E90b",
  "man-met-hart": "\E910",
  "man-met-pleister1": "\E91b",
  "man-met-pot-met-deksel": "\E921",
  "medisch-beroepsgeheim": "\E922",
  "verzorgingstehuis": "\E923",
  "langdurige-zorg": "\E924",
  "persoon-in-rolstoel-en-munten": "\E925",
  "persoon-met-rugpijn": "\E926",
  "persoon-staand-met-hart": "\E927",
  "rollator-bij-trap": "\E928",
  "kinderbescherming": "\E929",
  "verboden-te-roken": "\E92a",
  "vrouw-en-persoon-in-rolstoel": "\E92b",
  "mantelzorg": "\E92c",
  "ouderenzorg": "\E92d",
  "welzijnswerk-ouderen": "\E92e",
  "noodopvang": "\E92f",
  "opvang-en-nazorg": "\E930",
  "hoofd-silhouet-met-wattenstaafje-bij-neus": "\E931",
  "rokende-filtersigaret": "\E932",
  "koorts": "\E934",
  "benauwdheid": "\E935",
  "geen-spatscherm": "\E936",
  "schone-handen": "\E937",
  "mondkapje": "\E938",
  "man-met-mondkapje": "\E93a",
  "puber-met-mondkapje": "\E93c",
  "psychologische-hulp": "\E93e",
  "vrouw-met-pot-met-deksel": "\E93f",
  "coronavaccinsvg": "\E940",
  "ehbo-aed": "\E941",
  "ehbo-ruimte": "\E942",
  "kolfruimte": "\E943",
  "esculaap": "\E944",
  "verbod-rolstoel": "\E945",
);
