/* Font: Ro icons - Rijksoverheid font */

/* RO icons */
@font-face {
	font-family: "RO Icons";
	font-weight: normal;
	font-style: normal;
	src: url("../../../../../../static/fonts/ro-icons/ro-icons-3.6.eot");
	src: url("../../../../../../static/fonts/ro-icons/ro-icons-3.6.woff") format("woff"),
		url("../../../../../../static/fonts/ro-icons/ro-icons-3.6.ttf") format("truetype"),
		url("../../../../../../static/fonts/ro-icons/ro-icons-3.6.svg#ro-icons-31") format("svg");
}
