/** @deprecated **/
$ro-font-path: "../../../fonts" !default;

/** @deprecated */
$ro-img-path: "../../img" !default;

// New variables
$manon-font-path: $ro-font-path !default;
$manon-img-path: $ro-img-path !default;
