@use "../core/color-scheme/" as color-scheme;

// font
$font-size: 1rem;
$font-size: 1rem;
$font-family: "ro-sans-web", sans-serif;
$font-family-secondary: "ro-serif-web", serif;

// @use "base";
$base-background-color: color-scheme.$white;
$base-darker: color-scheme.$grey-50;
$base-offset: color-scheme.$grey-50;

// @use "border";
// $color-border-default: #{color-scheme.$oc-gray-4};
// $color-border-subtle: #{color-scheme.$oc-gray-2};
// $color-border-intense: #{color-scheme.$oc-gray-6};

// @use "brand";
/* Primary */
$color-brand-primary-default: color-scheme.$ruby-red-600;
$color-brand-primary-text-default: color-scheme.$white;
$color-brand-primary-muted: color-scheme.$ruby-red-200;
$color-brand-primary-text-muted: color-scheme.$black;
$color-brand-primary-subtle: color-scheme.$ruby-red-100;
$color-brand-primary-text-subtle: color-scheme.$black;

/* Secundary */
// $color-brand-secondary-default: #{color-scheme.$oc-gray-9};
// $color-brand-secondary-muted: #{color-scheme.$oc-gray-7};
// $color-brand-secondary-subtle: #{color-scheme.$oc-gray-2};

// @use "destructive";
// $color-destructive-default: #{color-scheme.$oc-red-8};
// $color-destructive-subtle: #{color-scheme.$oc-red-2};
// $color-destructive-intense: #{color-scheme.$oc-red-9};

// @use "text";
$color-text-default: color-scheme.$black;
$color-text-subtle: color-scheme.$black;
$color-text-intense: color-scheme.$black;
