$icon-voor-elkaar-zorgen: "\E904";
$icon-hart-met-oudere: "\E905";
$icon-hart-tussen-2-uitgestoken-handen: "\E906";
$icon-hoofd-silhouet-hoesten: "\E907";
$icon-hoofd-silhouet-met-wattenstaafje-bij-mond: "\E908";
$icon-jeugdzorg: "\E909";
$icon-gezinszorg-met-oudere: "\E90a";
$icon-gezinszorg: "\E90b";
$icon-man-met-hart: "\E910";
$icon-man-met-pleister1: "\E91b";
$icon-man-met-pot-met-deksel: "\E921";
$icon-medisch-beroepsgeheim: "\E922";
$icon-verzorgingstehuis: "\E923";
$icon-langdurige-zorg: "\E924";
$icon-persoon-in-rolstoel-en-munten: "\E925";
$icon-persoon-met-rugpijn: "\E926";
$icon-persoon-staand-met-hart: "\E927";
$icon-rollator-bij-trap: "\E928";
$icon-kinderbescherming: "\E929";
$icon-verboden-te-roken: "\E92a";
$icon-vrouw-en-persoon-in-rolstoel: "\E92b";
$icon-mantelzorg: "\E92c";
$icon-ouderenzorg: "\E92d";
$icon-welzijnswerk-ouderen: "\E92e";
$icon-noodopvang: "\E92f";
$icon-opvang-en-nazorg: "\E930";
$icon-hoofd-silhouet-met-wattenstaafje-bij-neus: "\E931";
$icon-rokende-filtersigaret: "\E932";
$icon-koorts: "\E934";
$icon-benauwdheid: "\E935";
$icon-geen-spatscherm: "\E936";
$icon-schone-handen: "\E937";
$icon-mondkapje: "\E938";
$icon-man-met-mondkapje: "\E93a";
$icon-puber-met-mondkapje: "\E93c";
$icon-psychologische-hulp: "\E93e";
$icon-vrouw-met-pot-met-deksel: "\E93f";
$icon-coronavaccinsvg: "\E940";
$icon-ehbo-aed: "\E941";
$icon-ehbo-ruimte: "\E942";
$icon-kolfruimte: "\E943";
$icon-esculaap: "\E944";
$icon-verbod-rolstoel: "\E945";

:root {
  --icon-voor-elkaar-zorgen: "#{$icon-voor-elkaar-zorgen}";
  --icon-hart-met-oudere: "#{$icon-hart-met-oudere}";
  --icon-hart-tussen-2-uitgestoken-handen: "#{$icon-hart-tussen-2-uitgestoken-handen}";
  --icon-hoofd-silhouet-hoesten: "#{$icon-hoofd-silhouet-hoesten}";
  --icon-hoofd-silhouet-met-wattenstaafje-bij-mond: "#{$icon-hoofd-silhouet-met-wattenstaafje-bij-mond}";
  --icon-jeugdzorg: "#{$icon-jeugdzorg}";
  --icon-gezinszorg-met-oudere: "#{$icon-gezinszorg-met-oudere}";
  --icon-gezinszorg: "#{$icon-gezinszorg}";
  --icon-man-met-hart: "#{$icon-man-met-hart}";
  --icon-man-met-pleister1: "#{$icon-man-met-pleister1}";
  --icon-man-met-pot-met-deksel: "#{$icon-man-met-pot-met-deksel}";
  --icon-medisch-beroepsgeheim: "#{$icon-medisch-beroepsgeheim}";
  --icon-verzorgingstehuis: "#{$icon-verzorgingstehuis}";
  --icon-langdurige-zorg: "#{$icon-langdurige-zorg}";
  --icon-persoon-in-rolstoel-en-munten: "#{$icon-persoon-in-rolstoel-en-munten}";
  --icon-persoon-met-rugpijn: "#{$icon-persoon-met-rugpijn}";
  --icon-persoon-staand-met-hart: "#{$icon-persoon-staand-met-hart}";
  --icon-rollator-bij-trap: "#{$icon-rollator-bij-trap}";
  --icon-kinderbescherming: "#{$icon-kinderbescherming}";
  --icon-verboden-te-roken: "#{$icon-verboden-te-roken}";
  --icon-vrouw-en-persoon-in-rolstoel: "#{$icon-vrouw-en-persoon-in-rolstoel}";
  --icon-mantelzorg: "#{$icon-mantelzorg}";
  --icon-ouderenzorg: "#{$icon-ouderenzorg}";
  --icon-welzijnswerk-ouderen: "#{$icon-welzijnswerk-ouderen}";
  --icon-noodopvang: "#{$icon-noodopvang}";
  --icon-opvang-en-nazorg: "#{$icon-opvang-en-nazorg}";
  --icon-hoofd-silhouet-met-wattenstaafje-bij-neus: "#{$icon-hoofd-silhouet-met-wattenstaafje-bij-neus}";
  --icon-rokende-filtersigaret: "#{$icon-rokende-filtersigaret}";
  --icon-koorts: "#{$icon-koorts}";
  --icon-benauwdheid: "#{$icon-benauwdheid}";
  --icon-geen-spatscherm: "#{$icon-geen-spatscherm}";
  --icon-schone-handen: "#{$icon-schone-handen}";
  --icon-mondkapje: "#{$icon-mondkapje}";
  --icon-man-met-mondkapje: "#{$icon-man-met-mondkapje}";
  --icon-puber-met-mondkapje: "#{$icon-puber-met-mondkapje}";
  --icon-psychologische-hulp: "#{$icon-psychologische-hulp}";
  --icon-vrouw-met-pot-met-deksel: "#{$icon-vrouw-met-pot-met-deksel}";
  --icon-coronavaccinsvg: "#{$icon-coronavaccinsvg}";
  --icon-ehbo-aed: "#{$icon-ehbo-aed}";
  --icon-ehbo-ruimte: "#{$icon-ehbo-ruimte}";
  --icon-kolfruimte: "#{$icon-kolfruimte}";
  --icon-esculaap: "#{$icon-esculaap}";
  --icon-verbod-rolstoel: "#{$icon-verbod-rolstoel}";
}

.icon,
.icon-only {
  &.icon-voor-elkaar-zorgen::before {
    content: $icon-voor-elkaar-zorgen;
  }

  &.icon-hart-met-oudere::before {
    content: $icon-hart-met-oudere;
  }

  &.icon-hart-tussen-2-uitgestoken-handen::before {
    content: $icon-hart-tussen-2-uitgestoken-handen;
  }

  &.icon-hoofd-silhouet-hoesten::before {
    content: $icon-hoofd-silhouet-hoesten;
  }

  &.icon-hoofd-silhouet-met-wattenstaafje-bij-mond::before {
    content: $icon-hoofd-silhouet-met-wattenstaafje-bij-mond;
  }

  &.icon-jeugdzorg::before {
    content: $icon-jeugdzorg;
  }

  &.icon-gezinszorg-met-oudere::before {
    content: $icon-gezinszorg-met-oudere;
  }

  &.icon-gezinszorg::before {
    content: $icon-gezinszorg;
  }

  &.icon-man-met-hart::before {
    content: $icon-man-met-hart;
  }

  &.icon-man-met-pleister1::before {
    content: $icon-man-met-pleister1;
  }

  &.icon-man-met-pot-met-deksel::before {
    content: $icon-man-met-pot-met-deksel;
  }

  &.icon-medisch-beroepsgeheim::before {
    content: $icon-medisch-beroepsgeheim;
  }

  &.icon-verzorgingstehuis::before {
    content: $icon-verzorgingstehuis;
  }

  &.icon-langdurige-zorg::before {
    content: $icon-langdurige-zorg;
  }

  &.icon-persoon-in-rolstoel-en-munten::before {
    content: $icon-persoon-in-rolstoel-en-munten;
  }

  &.icon-persoon-met-rugpijn::before {
    content: $icon-persoon-met-rugpijn;
  }

  &.icon-persoon-staand-met-hart::before {
    content: $icon-persoon-staand-met-hart;
  }

  &.icon-rollator-bij-trap::before {
    content: $icon-rollator-bij-trap;
  }

  &.icon-kinderbescherming::before {
    content: $icon-kinderbescherming;
  }

  &.icon-verboden-te-roken::before {
    content: $icon-verboden-te-roken;
  }

  &.icon-vrouw-en-persoon-in-rolstoel::before {
    content: $icon-vrouw-en-persoon-in-rolstoel;
  }

  &.icon-mantelzorg::before {
    content: $icon-mantelzorg;
  }

  &.icon-ouderenzorg::before {
    content: $icon-ouderenzorg;
  }

  &.icon-welzijnswerk-ouderen::before {
    content: $icon-welzijnswerk-ouderen;
  }

  &.icon-noodopvang::before {
    content: $icon-noodopvang;
  }

  &.icon-opvang-en-nazorg::before {
    content: $icon-opvang-en-nazorg;
  }

  &.icon-hoofd-silhouet-met-wattenstaafje-bij-neus::before {
    content: $icon-hoofd-silhouet-met-wattenstaafje-bij-neus;
  }

  &.icon-rokende-filtersigaret::before {
    content: $icon-rokende-filtersigaret;
  }

  &.icon-koorts::before {
    content: $icon-koorts;
  }

  &.icon-benauwdheid::before {
    content: $icon-benauwdheid;
  }

  &.icon-geen-spatscherm::before {
    content: $icon-geen-spatscherm;
  }

  &.icon-schone-handen::before {
    content: $icon-schone-handen;
  }

  &.icon-mondkapje::before {
    content: $icon-mondkapje;
  }

  &.icon-man-met-mondkapje::before {
    content: $icon-man-met-mondkapje;
  }

  &.icon-puber-met-mondkapje::before {
    content: $icon-puber-met-mondkapje;
  }

  &.icon-psychologische-hulp::before {
    content: $icon-psychologische-hulp;
  }

  &.icon-vrouw-met-pot-met-deksel::before {
    content: $icon-vrouw-met-pot-met-deksel;
  }

  &.icon-coronavaccinsvg::before {
    content: $icon-coronavaccinsvg;
  }

  &.icon-ehbo-aed::before {
    content: $icon-ehbo-aed;
  }

  &.icon-ehbo-ruimte::before {
    content: $icon-ehbo-ruimte;
  }

  &.icon-kolfruimte::before {
    content: $icon-kolfruimte;
  }

  &.icon-esculaap::before {
    content: $icon-esculaap;
  }

  &.icon-verbod-rolstoel::before {
    content: $icon-verbod-rolstoel;
  }
}
