$white: #FFFFFF;
$grey-50: #F3F3F3; /* Grijs 1 */
$grey-100: #E6E6E6; /* Grijs 2 */
$grey-200: #CCCCCC; /* Grijs 3 */
$grey-300: #B4B4B4; /* Grijs 4 */
$grey-400: #999999; /* Grijs 5 */
$grey-500: #808080;
$grey-600: #696969; /* Grijs 6 */
$grey-700: #535353; /* Grijs 7 */
$grey-800: #3D3D3D;
$grey-900: #292929;
$black: #000000;
$logo-blue-100: #DCE3EA; /* Logoblauw 15% */
$logo-blue-200: #B8C6D5; /* Logoblauw 30% */
$logo-blue-300: #95A9C0; /* Logoblauw 45% */
$logo-blue-400: #839BB6;
$logo-blue-500: #738EAB; /* Logoblauw 60% */
$logo-blue-600: #4F7196; /* Logoblauw 75% */
$logo-blue-700: #305885;
$logo-blue-800: #154273; /* Logoblauw 100% */
$logo-blue-900: #002C5C;
$purple-100: #E3DCE7; /* Paars 15% */
$purple-200: #D5CBDC;
$purple-300: #C6B8CE; /* Paars 30% */
$purple-400: #A995B7; /* Paars 45% */
$purple-500: #8D729F; /* Paars 60% */
$purple-600: #714F87; /* Paars 75% */
$purple-700: #5E3C76;
$purple-800: #502D69;
$purple-900: #42145F; /* Paars 100% */
$violet-100: #F2D9E7; /* Violet 15% */
$violet-200: #E5B2CF; /* Violet 30% */
$violet-300: #D88CB7; /* Violet 45% */
$violet-400: #CB66A0; /* Violet 60% */
$violet-500: #BE4088; /* Violet 75% */
$violet-600: #B32A77;
$violet-700: #A90061; /* Violet 100% */
$violet-800: #94004C;
$violet-900: #7D0037;
$ruby-red-100: #F7D9E7; /* Robijnrood 15% */
$ruby-red-200: #EFB2CE; /* Robijnrood 30% */
$ruby-red-300: #E78CB6; /* Robijnrood 45% */
$ruby-red-400: #DF669D; /* Robijnrood 60% */
$ruby-red-500: #D74085; /* Robijnrood 75% */
$ruby-red-600: #CA005D; /* Robijnrood 100% */
$ruby-red-700: #B30044;
$ruby-red-800: #9A002D;
$ruby-red-900: #830019;
$pink-50: #FDEFF8; /* Roze 15% */
$pink-100: #FBDEF0; /* Roze 30% */
$pink-150: #F8CEE8; /* Roze 45% */
$pink-200: #F6BDE1; /* Roze 60% */
$pink-250: #F4ADD9; /* Roze 75% */
$pink-300: #F092CD; /* Roze 100% */
$pink-400: #E072B8;
$pink-500: #C855A1;
$pink-600: #B13688;
$pink-700: #961770;
$pink-800: #83005D;
$pink-900: #74004D;
$red-100: #F9DFDD; /* Rood 15% */
$red-200: #F2BFBB; /* Rood 30% */
$red-300: #EC9F99; /* Rood 45% */
$red-350: #E67F78; /* Rood 60% */
$red-400: #DF6056; /* Rood 75% */
$red-500: #D52B1E; /* Rood 100% */
$red-600: #C30000;
$red-700: #B20000;
$red-800: #A00000;
$red-900: #920000;
$orange-100: #FBEAD9; /* Oranje 15% */
$orange-150: #F6D4B2; /* Oranje 30% */
$orange-200: #F1BE8C; /* Oranje 45% */
$orange-250: #EDA966; /* Oranje 60% */
$orange-300: #E89440; /* Oranje 75% */
$orange-400: #E17000; /* Oranje 100% */
$orange-500: #D25B00;
$orange-600: #BD4000;
$orange-700: #A52700;
$orange-800: #910000;
$orange-900: #7D0000;
$dark-yellow-50: #FEF4DB; /* Donkergeel 15% */
$dark-yellow-75: #FEE9B7; /* Donkergeel 30% */
$dark-yellow-100: #FDDE94; /* Donkergeel 45% */
$dark-yellow-150: #FDD370; /* Donkergeel 60% */
$dark-yellow-200: #FDC84D; /* Donkergeel 75% */
$dark-yellow-250: #FFB612; /* Donkergeel 100% */
$dark-yellow-300: #F7A500;
$dark-yellow-400: #DE8500;
$dark-yellow-500: #C66900;
$dark-yellow-600: #AC5000;
$dark-yellow-700: #923600;
$dark-yellow-800: #7B1E00;
$dark-yellow-900: #680100;
$yellow-25: #FEFBDD; /* Geel 15% */
$yellow-50: #FDF6BB; /* Geel 30% */
$yellow-75: #FCF199; /* Geel 45% */
$yellow-100: #FBED78; /* Geel 60% */
$yellow-125: #FAE856; /* Geel 75% */
$yellow-150: #F9E11E; /* Geel 100% */
$yellow-200: #EED300;
$yellow-300: #D2B500;
$yellow-400: #B99B00;
$yellow-500: #A18100;
$yellow-600: #896900;
$yellow-700: #725100;
$yellow-800: #5E3C00;
$yellow-900: #4D2B00;
$dark-brown-100: #E8E0DF; /* Donkerbruin 15% */
$dark-brown-200: #E0D2CF;
$dark-brown-250: #D1C1BD; /* Donkerbruin 30% */
$dark-brown-300: #BAA39D; /* Donkerbruin 45% */
$dark-brown-400: #AF938B;
$dark-brown-450: #A3847D; /* Donkerbruin 60% */
$dark-brown-500: #99776F;
$dark-brown-600: #8D665D; /* Donkerbruin 75% */
$dark-brown-700: #75483D;
$dark-brown-800: #673327; /* Donkerbruin 100% */
$dark-brown-900: #542115;
$brown-100: #EFEADA; /* Bruin 15% */
$brown-150: #DFD4B5; /* Bruin 30% */
$brown-200: #CFBF90; /* Bruin 45% */
$brown-300: #BFA96C; /* Bruin 60% */
$brown-400: #AF9447; /* Bruin 75% */
$brown-500: #9E7D2B;
$brown-550: #94710A; /* Bruin 100% */
$brown-600: #8A6500;
$brown-700: #744D00;
$brown-800: #603A00;
$brown-900: #4F2900;
$dark-green-100: #DEE6E1; /* Donkergroen 15% */
$dark-green-200: #BDCDC2; /* Donkergroen 30% */
$dark-green-300: #9DB4A4; /* Donkergroen 45% */
$dark-green-400: #7D9B87; /* Donkergroen 60% */
$dark-green-500: #5D8269; /* Donkergroen 75% */
$dark-green-600: #436F4F;
$dark-green-700: #275937; /* Donkergroen 100% */
$dark-green-800: #0A4723;
$dark-green-900: #003810;
$green-100: #E1EDDA; /* Groen 15% */
$green-200: #C3DBB5; /* Groen 30% */
$green-250: #A5C991; /* Groen 45% */
$green-300: #88B76D; /* Groen 60% */
$green-400: #6AA549; /* Groen 75% */
$green-500: #539738;
$green-600: #39870C; /* Groen 100% */
$green-650: #237600;
$green-700: #026900;
$green-800: #005500;
$green-900: #004400;
$moss-green-100: #EBEBD9; /* Mosgroen 15% */
$moss-green-200: #D6D7B2; /* Mosgroen 30% */
$moss-green-250: #C1C38C; /* Mosgroen 45% */
$moss-green-300: #ADAF66; /* Mosgroen 60% */
$moss-green-400: #999C40; /* Mosgroen 75% */
$moss-green-500: #858A25;
$moss-green-550: #777B00; /* Mosgroen 100% */
$moss-green-600: #6E7200;
$moss-green-700: #585B00;
$moss-green-800: #464700;
$moss-green-900: #363700;
$mint-green-50: #EAF8F4; /* Mintgroen 15% */
$mint-green-100: #D5F1E9; /* Mintgroen 30% */
$mint-green-125: #C1EBDE; /* Mintgroen 45% */
$mint-green-150: #ACE4D3; /* Mintgroen 60% */
$mint-green-200: #98DDC8; /* Mintgroen 75% */
$mint-green-300: #76D2B6; /* Mintgroen 100% */
$mint-green-400: #56B499;
$mint-green-500: #32977C;
$mint-green-600: #007F65;
$mint-green-700: #00674E;
$mint-green-800: #00543C;
$mint-green-900: #00432C;
$dark-blue-100: #D9E8F0; /* Donkerblauw 15% */
$dark-blue-200: #B2D1E1; /* Donkerblauw 30% */
$dark-blue-300: #8CBBD2; /* Donkerblauw 45% */
$dark-blue-400: #66A4C3; /* Donkerblauw 60% */
$dark-blue-500: #408EB4; /* Donkerblauw 75% */
$dark-blue-600: #01689B; /* Donkerblauw 100% */
$dark-blue-700: #005487;
$dark-blue-800: #003F71;
$dark-blue-900: #002B5C;
$sky-blue-100: #D9EBF7; /* Hemelblauw 15% */
$sky-blue-200: #B2D7EE; /* Hemelblauw 30% */
$sky-blue-300: #8CC3E6; /* Hemelblauw 45% */
$sky-blue-350: #66AFDD; /* Hemelblauw 60% */
$sky-blue-400: #409CD5; /* Hemelblauw 75% */
$sky-blue-500: #2C89D0;
$sky-blue-550: #007BC7; /* Hemelblauw 100% */
$sky-blue-600: #0070BB;
$sky-blue-700: #005CA5;
$sky-blue-800: #00438B;
$sky-blue-900: #003179;
$light-blue-50: #EEF7FC; /* Lichtblauw 15% */
$light-blue-100: #DDEFF8; /* Lichtblauw 30% */
$light-blue-125: #CCE7F4; /* Lichtblauw 45% */
$light-blue-150: #BCDFF0; /* Lichtblauw 60% */
$light-blue-200: #ABD7ED; /* Lichtblauw 75% */
$light-blue-250: #8FCAE7; /* Lichtblauw 100% */
$light-blue-300: #7FBCDA;
$light-blue-400: #66A5C3;
$light-blue-500: #4E8CA9;
$light-blue-600: #357490;
$light-blue-700: #185D79;
$light-blue-800: #004964;
$light-blue-900: #003953;
