/* Rijksoverheid base color set */

:root {
  --ro-blue: #01689b;

  /* Link colors */
  --link-text-color: #01689b;
  --link-text-color-hover: #004161;
  --link-text-color-visited: #814081;
  --link-text-color-visited-hover: #502650;
}
