/* Rijksoverheid base color set */

:root {
  --ro-blue: #01689b;

  /* Link colors */
  --link-text-color: #01689B;
  --link-hover-text-color: #004161;
  --link-visited-text-color: #814081;
  --link-visited-hover-text-color: #502650;
}
