/* Color set grey */

:root {
  --white: #ffffff;
  --grey-1: #f3f3f3;
  --grey-2: #e6e6e6;
  --grey-3: #cccccc;
  --grey-4: #b4b4b4;
  --grey-5: #999999;
  --grey-6: #696969; /* Contrast 5.48:1 on white, passes WCAG SC 1.4.3 (level AA) */
  --grey-7: #535353; /* Contrast 7.69:1 on white, passes WCAG SC 1.4.6 (level AAA) */
  --grey-8: #404040;
  --grey-9: #1d1d1d;
  --grey-10: #000000;
}
