/* Color set grey */

:root {
  --white: #ffffff;
  --grey-1: #f3f3f3;
  --grey-2: #e6e6e6;
  --grey-3: #cccccc;
  --grey-4: #b4b4b4;
  --grey-5: #999999;
  --grey-6: #696969; /* Default size text with grey-6 or higher passed to WCAG compliance contrast requirements AA on a white background. */
  --grey-7: #535353; /* Default size text with grey-7 or higher passed to WCAG compliance contrast requirements AAA a white background. */
  --grey-8: #404040;
  --grey-9: #1d1d1d;
  --grey-10: #000000;
}
