/* Rijksoverheid notification color set */

:root {
  /* Notification colors */
  --notification-error-color: #f9dfdd;
  --notification-warning-color: #fff4dc;
  --notification-confirmation-color: #e1eddb;
  --notification-explanation-color: #d9ebf7;
  --notification-system-color: var(--grey-1);

  /* Notification colors - darker tint */
  --notification-error-color-darker: #f4c2be;
  --notification-warning-color-darker: #ffe7b3;
  --notification-confirmation-color-darker: #d5e5cc;
  --notification-explanation-color-darker: #c0def2;
  --notification-system-color-darker: var(--grey-2);

  /* Notifiation intense color variant */
  --notification-error-color-intense: #d52a1e; /* Use light text for contrast */
  --notification-warning-color-intense: #ffb71a; /* Use dark text for contrast */
  --notification-confirmation-color-intense: #358734; /* Use light text for contrast */
  --notification-explanation-color-intense: #007bc7; /* Use light text for contrast */
  --notification-system-color-intense: var(--grey-5); /* Use light text for contrast */
}
