/* Theme: Rijksoverheid. */

/* Fonts */
@import "fonts/fonts";

/* Color sets */
@import "colors/color-set-grey";
@import "colors/ruby-red";

/* Styling for Manon components */
/* Sets */
@import "manon/body-text-set";
@import "manon/layout-set";
@import "manon/heading-base-set";

/* Application style settings */
@import "manon/application-base";

/* Footer */
@import "manon/footer";

/* Section */
@import "manon/section";
@import "manon/section-content-wrapper";

/* Article */
@import "manon/article";
@import "manon/article-content-wrapper";

/* Navigation */
@import "manon/navigation";
@import "manon/navigation-content-wrapper";

/* Headings */
@import "manon/headings";

/* Components */
@import "manon/button";
@import "manon/form";

/* Components - Rijksoverheid specific components*/
@import "components/logo";
@import "components/footer";

/* Temporary manon overrides (Until they have been added to manon) */
@import "manon-override/footer";
@import "manon-override/emphasized-first-paragraph";
