@use "../variables";

@font-face {
  font-family: ro-icons-light;
  font-weight: normal;
  font-style: normal;
  font-display: var(--text-icon-font-display, block);
  src:
    url("#{variables.$font-path}/ro-icons-light/ro-icons-light.woff2") format("woff2"),
    url("#{variables.$font-path}/ro-icons-light/ro-icons-light.woff") format("woff"),
    url("#{variables.$font-path}/ro-icons-light/ro-icons-light.ttf") format("truetype");
}
