/* Rijksoverheid logo */

/* Size and behaviour set to Rijksoverheid branding specifications:
https://www.rijkshuisstijl.nl/basiselementen/basiselementen-online/logo */

.ro-logo {
  $screen-width-medium: 35rem;
  $screen-width-large: 48rem;

  display: flex;
  align-items: center;
  font-size: 0;
  margin-bottom: 0.625rem;
  text-decoration: none;
  font-family: var(--text-set-magazine-font-family);
  color: #000000;
  width: 100%;

  &:active,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
    font-size: 0;
  }

  @media (width >= $screen-width-medium) {
    margin-bottom: 1.44rem;
    font-size: inherit;
    max-width: 35rem;
    color: #000000;

    &:active,
    &:visited,
    &:hover,
    &:focus {
      font-size: inherit;
      color: #000000;
    }
  }

  @media (width >= $screen-width-large) {
    margin-bottom: 1.56rem;
  }

  img {
    min-width: 2.5rem;
    height: 3.75rem;
    align-self: flex-end;
    overflow: hidden;
    object-fit: cover;
    object-position: bottom;
    margin-left: calc(50% - 1.25rem); /* Half the screen minus half the size of the logo */
    margin-bottom: auto;

    @media (width >= $screen-width-medium) {
      min-width: 2.8125rem;
      height: 5.625rem;
      margin-right: 1rem;
      margin-left: calc(50% - 1.40625rem); /* Half the screen minus half the size of the logo */
    }

    @media (width >= $screen-width-large) {
      min-width: 3.125rem;
      height: 6.25rem;
      margin-left: calc(50% - 1.5625rem); /* Half the screen minus half the size of the logo */
    }
  }
}
