/* Notification icon */
.notification,
.error,
.warning,
.confirmation,
.explanation,
.system {
  .notification-type {
    padding-left: 1.5rem;

    &::before {
      display: inline-flex;
      text-align: center;
      content: "";
      background-image: url("../../img/notification_icons.svg");
      background-size: 100%;
      width: 1.5rem;
      min-width: 1.5rem;
      height: 1.5rem;
      min-height: 1.5rem;
      margin-left: -1.5rem;
      position: relative;
      display: block;
    }
  }
}

.error {
  .notification-type {
    &::before {
      background-position: 0 3rem;
      background-image: url("../../img/notification_icons.svg");
    }
  }
}

.warning {
  .notification-type {
    &::before {
      background-image: url("../../img/notification_icons.svg");
    }
  }
}

.confirmation {
  .notification-type {
    &::before {
      background-position: 0 1.5rem;
      background-image: url("../../img/notification_icons.svg");
    }
  }
}

.explanation {
  .notification-type {
    &::before {
      background-position: 0 4.5rem;
      background-image: url("../../img/notification_icons.svg");
    }
  }
}
