/* Notification icon */
.notification,
.error,
.warning,
.confirmation,
.explanation,
.system {
  span:first-of-type {
    padding-left: 2.5rem;

    &::before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      content: "";
      font-weight: var(--notification-block-element-span-font-weight);
      background-image: url("#{$ro-img-path}/notification_icons.svg");
      background-size: 100%;
      width: 1.5rem;
      min-width: 1.5rem;
      height: 1.5rem;
      min-height: 1.5rem;
      margin-left: -2.5rem;
      margin-right: 0.5rem;
      position: relative;
      top: -0.4rem;
    }
  }
}

.error {
  span:first-of-type {
    &::before {
      background-position: 0 3rem;
      background-image: url("#{$ro-img-path}/notification_icons.svg");
    }
  }
}

.warning {
  span:first-of-type {
    &::before {
      background-image: url("#{$ro-img-path}/notification_icons.svg");
    }
  }
}

.confirmation {
  span:first-of-type {
    &::before {
      background-position: 0 1.5rem;
      background-image: url("#{$ro-img-path}/notification_icons.svg");
    }
  }
}

.explanation {
  span:first-of-type {
    &::before {
      background-position: 0 4.5rem;
      background-image: url("#{$ro-img-path}/notification_icons.svg");
    }
  }
}
