/* slogan.scss */

.slogan,
%slogan {
  font-family: var(--text-set-magazine-font-family);
  font-size: 1.80203rem;
  font-weight: 400;
  font-style: italic;
  -webkit-font-smoothing: antialiased;

  @media (width >= 24rem) {
    min-width: 20rem;
  }
}
