/* Stepper */

.stepper {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 0.75rem;

    %active-step-styling {
        background-color: var(--ro-blue);

        &:after {
            border-left: 26px solid var(--ro-blue);
        }

        a {
            color: white;
        }
    }

    li {
        --stepper-step-height: 44px;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-1);
        height: var(--stepper-step-height);
        // padding: 0.5rem 1rem 0.5rem 2.5rem;
        padding: 0;
        position: relative;

        &::marker {
            content: none;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            height: 100%;
            padding: 0 1rem 0 2.5rem;
        }

        &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: calc(var(--stepper-step-height)/2) solid transparent;
            border-left: 26px solid white;
            border-bottom: calc(var(--stepper-step-height)/2) solid transparent;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            border-top: calc(var(--stepper-step-height)/2) solid transparent;
            border-left: 26px solid var(--grey-1);
            border-bottom: calc(var(--stepper-step-height)/2) solid transparent;
            position: absolute;
            top: 0;
            right: -26px;
            z-index: 1;
        }

        &:first-child:before {
            content: none;
        }

        &:last-child:after {
            content: none;
        }

        &[aria-current="step"] {
            @extend %active-step-styling;
        }

        &:hover {
            @extend %active-step-styling;
        }
    }
}