/* Application base */

:root {
  --application-base-accent-color: var(--brand-background-color);
  --application-base-accent-color-text-color: var(--brand-text-color);
  --application-base-font-size: var(--body-text-medium-font-size);
}
