/* Article content wrapper */

:root {
  --article-gap: 1rem;
  --article-padding-top: var(--content-padding-top);
  --article-padding-right: 0;
  --article-padding-bottom: var(--content-padding-bottom);
  --article-padding-left: 0;
  --article-max-width: 100%;
}
