/* Article content wrapper */

:root {
  --article-content-wrapper-gap: var(--content-gap);
  --article-content-wrapper-padding-top: 0;
  --article-content-wrapper-padding-right: var(--content-padding-right);
  --article-content-wrapper-padding-bottom: 0;
  --article-content-wrapper-padding-left: var(--content-padding-left);
  --article-content-wrapper-max-width: var(--content-max-width);
}
