/* button-to-top.scss */

:root {
  --button-to-top-border-radius: 50%;
  --button-to-top-border-style: solid;
  --button-to-top-border-width: 2px;
  --button-to-top-border-color: var(--white);
  --button-to-top-text-color: var(--white);

  /* Hover state */
  --button-to-top-hover-text-color: var(--white);
  --button-to-top-hover-background-color: var(--ruby-red-hover-background-color);
  --button-to-top-hover-border-color: var(--white);
}
