/* Button ghost */

@mixin button-ghost-vars {
  /* Base */
  --button-ghost-background-color: var(--brand-ghost-background-color);
  --button-ghost-text-color: var(--brand-ghost-text-color);
  --button-ghost-border-color: var(--brand-ghost-text-color);
  --button-ghost-border-width: 2px;
  --button-ghost-border-style: solid;

  /* Hover */
  --button-ghost-hover-background-color: var(--brand-background-color);
  --button-ghost-hover-text-color: var(--brand-text-color);
  --button-ghost-hover-border-color: var(--brand-background-color);

  /* Active */
  --button-ghost-active-background-color: var(--brand-highlight-background-color);
  --button-ghost-active-text-color: var(--brand-highlight-text-color);
  --button-ghost-active-border-width: var(--button-base-border-width);
  --button-ghost-active-border-style: var(--button-base-border-style);
  --button-ghost-active-border-color: var(--brand-highlight-background-color);

  /* Focus */
  --button-ghost-focus-outline-style: dotted;
  --button-ghost-focus-outline-color: #000000;
  --button-ghost-focus-outline-width: 2px;
  --button-ghost-focus-outline-offset: 0;
  --button-ghost-focus-background-color: var(--brand-background-color);
  --button-ghost-focus-text-color: var(--brand-text-color);
  --button-ghost-focus-border-width: var(--button-base-border-width);
  --button-ghost-focus-border-style: var(--button-base-border-style);
  --button-ghost-focus-border-color: var(--brand-background-color);

  /* Selected */
  --button-ghost-selected-background-color: var(--brand-highlight-background-color);
  --button-ghost-selected-text-color: var(--brand-highlight-text-color);
  --button-ghost-selected-border-width: var(--button-base-border-width);
  --button-ghost-selected-border-style: var(--button-base-border-style);
  --button-ghost-selected-border-color: var(--brand-highlight-background-color);

  /* Disabled */
  --button-ghost-disabled-background-color: var(--brand-dimmed-background-color);
  --button-ghost-disabled-text-color: var(--brand-dimmed-text-color);
  --button-ghost-disabled-border-width: var(--button-base-border-width);
  --button-ghost-disabled-border-style: var(--button-base-border-style);
  --button-ghost-disabled-border-color: var(--brand-dimmed-background-color);
}

:root {
  @include button-ghost-vars;
}
