/* Filters */

:root {
  --filter-button-icon-font-family: "RO Icons";

  /* content on the button when the menu is collapsed */
  --filter-button-icon-before-open-content: $icon-chevron-down;

  /* content on the button when the menu is expanded */
  --filter-button-icon-before-close-content: $icon-chevron-up;
}
