/* Focus */

:root {
  // Commented out to prevent overriding the default focus styles on focusable elements

  /*
  --focus-outline: 2px dotted #000000;
  --focus-outline-offset: 0.25rem;
  --focus-z-index: 1;
  */
}
