/* Footer */

:root {
  --footer-navigation-link-text-color: #ffffff;
  --footer-navigation-link-icon: var(--footer-link-icon);
  --footer-navigation-link-icon-font-size: var(--footer-link-icon-font-size);

  /* Link Hover */
  --footer-navigation-link-hover-text-color: var(--footer-navigation-link-text-color);

  /* Link Focus */
  --footer-navigation-link-focus-text-color: var(--footer-navigation-link-text-color);

  /* Link Active */
  --footer-navigation-link-active-text-color: var(--footer-navigation-link-text-color);

  /* Link Visited */
  --footer-navigation-link-visited-text-color: var(--footer-navigation-link-text-color);
  --footer-navigation-link-focus-icon-font-size: var(--footer-navigation-link-icon-font-size);
  --footer-navigation-link-hover-icon-font-size: var(--footer-navigation-link-icon-font-size);
  --footer-navigation-link-visited-icon-font-size: var(--footer-navigation-link-icon-font-size);
}
