/* Footer */

:root {
  --footer-padding-top: 3rem;
  --footer-padding-right: var(--content-padding-right);
  --footer-padding-bottom: 1rem;
  --footer-padding-left: var(--content-padding-left);
  --footer-min-height: 20rem;
  --footer-justify-content: center;
  --footer-align-items: space-between;
  --footer-text-color: var(--ruby-red-text-color);
}
