/* Footer */

:root {
  --footer-navigation-link-icon: var(--footer-link-icon);
  --footer-navigation-link-icon-font-size: var(--footer-link-icon-font-size);

  /* Link Visited */
  --footer-navigation-link-focus-icon-font-size: var(--footer-navigation-link-icon-font-size);
  --footer-navigation-link-hover-icon-font-size: var(--footer-navigation-link-icon-font-size);
  --footer-navigation-link-visited-icon-font-size: var(--footer-navigation-link-icon-font-size);
}
