/* Footer */

:root {
  --footer-padding-top: 3rem;
  --footer-padding-right: 0;
  --footer-padding-bottom: 1rem;
  --footer-padding-left: 0;
  --footer-min-height: 20rem;
  --footer-justify-content: center;
  --footer-align-items: space-between;
  --footer-text-color: var(--ruby-red-text-color);

  /* Link */
  --footer-link-text-color: var(--footer-text-color);
  --footer-link-text-decoration: none;

  /* Link Icon */
  --footer-link-icon: var(--icon-chevron-right);
  --footer-link-icon-font-size: 0.7rem;

  /* Hover */
  --footer-link-hover-text-color: var(--footer-text-color);
  --footer-link-hover-text-decoration: underline;

  /* Active */
  --footer-link-active-text-color: var(--footer-text-color);
  --footer-link-active-visited-text-color: var(--footer-link-active-text-color);

  /* Active on hover */
  --footer-link-active-hover-text-color: var(--footer-link-active-text-color);

  /* Visited */
  --footer-link-visited-text-color: var(--footer-text-color);
  --footer-link-icon-visited-text-color: var(--footer-link-visited-text-color);

  /* Visited hover */
  --footer-link-visited-hover-text-color: var(--footer-link-visited-text-color);
  --footer-link-icon-visited-hover-text-color: var(--footer-link-visited-text-color);

  /* Nav */
  --footer-navigation-list-item-list-style: none;
}
