/* Header navigation */

:root {
  /* Layout */
  --header-navigation-list-gap: 1rem;
  --header-navigation-justify-content: stretch;
  --header-navigation-align-items: stretch;
  --header-navigation-padding-top: 0;
  --header-navigation-padding-right: var(--content-padding-right);
  --header-navigation-padding-bottom: 0;
  --header-navigation-padding-left: var(--content-padding-right);
  --header-navigation-min-height: 4rem;

  /* Visual styling */
  --header-navigation-background-color: var(--application-base-accent-color);

  /* Content wrapper */
  --header-navigation-content-wrapper-max-width: var(--content-max-width);
  --header-navigation-content-wrapper-flex-direction: row;
  --header-navigation-content-wrapper-justify-content: space-between;
  --header-navigation-content-wrapper-align-items: stretch;
  --header-navigation-content-wrapper-padding-left: 0;
  --header-navigation-content-wrapper-padding-right: 0;

  /* Button */
  --header-navigation-button-min-width: 0;

  /* Menu items */
  --header-navigation-list-item-justify-content: center;

  /* Link */
  --header-navigation-link-padding-right: 0.5rem;
  --header-navigation-link-padding-left: 0.5rem;
  --header-navigation-link-background-color: var(--ruby-red-tint-1-background-color);
  --header-navigation-link-text-color: (var(--ruby-red-tint-1-text-color));

  /* Visited link */
  --header-navigation-link-visited-text-color: var(--header-navigation-text-color);

  /* Link hover */
  --header-navigation-link-hover-text-decoration: none;
  --header-navigation-link-hover-background-color: var(--ruby-red-tint-1-background-color);
  --header-navigation-link-hover-text-color: var(--ruby-red-tint-1-text-color);

  /* Link selected */
  --header-navigation-link-selected-text-decoration: none;
  --header-navigation-link-selected-background-color: var(--ruby-red-tint-1-background-color);
  --header-navigation-link-selected-text-color: var(--ruby-red-tint-1-text-color);

  /* Link active */
  --header-navigation-link-active-text-decoration: none;
  --header-navigation-link-active-background-color: var(--ruby-red-tint-1-background-color);
  --header-navigation-link-active-text-color: var(--ruby-red-tint-1-text-color);

  /* Button */
  --header-navigation-button-border-color: var(--ruby-red-tint-1-background-color);

  --header-navigation-link-active-hover-text-color: var(--ruby-red-tint-1-text-color);
}
