/* header-navigation-collapsible.scss */

:root {
  --header-navigation-collapsible-top: 4rem;

  --header-navigation-collapsible-button-background-color: transparent;
  --header-navigation-collapsible-icon-color: #ffffff;

  --header-navigation-collapsible-list-item-link-text-color: #ffffff;
  --header-navigation-collapsible-list-item-link-hover-background-color: transparent;
  --header-navigation-collapsible-list-item-link-hover-text-decoration: underline;
}
