/* Hero */

:root {
  --hero-title-text-color: #ffffff;
  --hero-content-container-padding-top: 2rem;
  --hero-content-container-padding-right: 2rem;
  --hero-content-container-padding-bottom: 2rem;
  --hero-content-container-padding-left: 2rem;
  --hero-background-color: #01689b;
  --hero-content-container-flex-direction: row;
  --hero-content-container-justify-content: flex-start;
  --hero-content-container-align-items: flex-start;
}
