/* Hero */

:root {
  --hero-min-height: 30rem;
  --hero-height: unset;
  --hero-background-color: #01689b;
  --hero-title-text-color: #ffffff;
  --hero-margin-top: calc(var(--page-whitespace-top) * -1);

  /* Content */
  --hero-content-container-padding-top: 2rem;
  --hero-content-container-padding-right: 2rem;
  --hero-content-container-padding-bottom: 2rem;
  --hero-content-container-padding-left: 2rem;
  --hero-content-container-flex-direction: row;
  --hero-content-container-justify-content: flex-start;
  --hero-content-container-align-items: flex-start;
  --hero-content-container-text-color: #fff;

  /* List */
  --hero-list-item-text-color: var(--hero-content-container-text-color);

  /* Tile */
  --hero-tile-list-item-text-color: var(--list-base-item-text-color);
  --hero-tile-background-color: transparent;
  --hero-tile-border-width: 0;
  --hero-tile-text-color: #fff;
  --tile-title-font-size-text: 40px;
}
