/* Layout set */

:root {
  /* Page */
  --page-whitespace-top: 0;
  --page-whitespace-right: 0;
  --page-whitespace-bottom: 0;
  --page-whitespace-left: 0;

  /* Content */
  --content-flex-direction: column;
  --content-justify-content: flex-start;
  --content-align-items: flex-start;
  --content-gap: 2rem;
  --content-padding-top: 6rem;
  --content-padding-right: 3%;
  --content-padding-bottom: 6rem;
  --content-padding-left: 3%;
  --content-max-width: 80rem;
}
