/* Link */

:root {
  /* Visited */
  //--link-visited-active-text-color: var(--footer-link-active-text-color);

  --link-external-icon: var(--icon-outgoing);
  --link-external-icon-font-size: 0.7rem;
}
