/* Link */

:root {
  /* Link */
  --link-text-color: #01689b;
  --link-hover-text-color: #004161;

  /* Visited link */
  --link-visited-text-color: #814081;
  --link-visited-hover-text-color: #653165;
}
