/* link.scss */

:root {
  --link-text-decoration: underline;

  /* Visited */
  // --link-visited-active-text-color: var(--footer-link-active-text-color);

  --link-external-icon: var(--icon-outgoing);
  --link-external-icon-font-size: 0.7rem;
  --link-focus-outline: 2px dotted #000000;
  --link-focus-outline-offset: 0.25rem;
  --link-focus-z-index: 1;
}
