/* Message counter */

:root {
  /* Message counter */
  --message-counter-background-color: var(--brand-ghost-background-color);
  --message-counter-text-color: var(--brand-ghost-text-color);
  --message-counter-base-padding: 0;
  --message-counter-base-background-color: var(--message-counter-background-color);
  --message-counter-base-text-color: var(--message-counter-text-color);
}
