/* Navigation content wrapper */

:root {
  /* List */
  --navigation-list-padding: 0;
  --navigation-list-background-color: transparent;

  /* Link */
  --navigation-link-text-color: var(--link-text-color);

  /* Hover */
  --navigation-link-hover-text-color: var(--link-text-hover-color);

   /* Links visited */
   --navigation-link-visited-text-color: var(--link-visited-text-color);

   /* Links visited hover */
   --navigation-link-visited-hover-text-color: var(--link-visited-hover-text-color);
}
