/* Notification block */

:root {
  --notification-block-element-padding-top: 1.5rem;
  --notification-block-element-padding-right: var(--notification-padding-right);
  --notification-block-element-padding-bottom: 1.5rem;
  --notification-block-element-padding-left: var(--notification-padding-left);
  --notification-block-element-gap: var(--content-gap);
  --notification-block-element-text-color: #000000;

  /* Span */
  --notification-block-element-span-font-weight: 400;
}
