/* Notification base */

:root {
  --notification-base-border-width: 0;
  --notification-max-width: 40rem;
  --notification-base-padding-top: 1.5rem;
  --notification-base-padding-right: 1rem;
  --notification-base-padding-bottom: 1.5rem;
  --notification-base-padding-left: 4rem;
}
