/* pagination.scss */

:root {
  --pagination-border-width: 4px 0 0 0;
  --pagination-border-color: var(--ro-blue);
  --pagination-padding-top: 0;
  --pagination-gap: 0.5rem;
  --pagination-item-text-color: var(--ro-blue);

  /* Item */
  --pagination-item-height: 2.75rem;
  --pagination-item-width: 2.75rem;

  /* Link */
  --pagination-link-border-radius: 0;

  /* Selected - active item */
  --pagination-link-active-background-color: var(--ro-blue);
  --pagination-item-active-text-color: #ffffff;

  /* Hover */
  --pagination-link-hover-background-color: var(--ro-blue);
  --pagination-link-hover-text-color: #ffffff;

  /* Adjacent selecotor - Previous and Next */
  --pagination-adjacent-text-color: var(--link-text-color);
  --pagination-adjacent-hover-background-color: transparent;

  /* Icon */
  --pagination-adjacent-icon-font-size: 0.8rem;
  --pagination-previous-icon: var(--icon-chevron-left);
  --pagination-next-icon: var(--icon-chevron-right);
}

nav.pagination {
  a,
  a:visited {
    padding-left: 0;

    &.next::before {
      content: none;
    }
  }

  .adjacent {
    font-size: 0;

    @media screen and (width >= 42rem) {
      font-size: var(--application-base-font-size);
    }
  }
}
