/* radio.scss */

:root {
  --radio-input-accent-color: var(--ro-blue);

  /* 23px by rem size 16px as defined in the branding docs */
  --radio-input-width: 1.4375rem;
  --radio-input-height: 1.4375rem;
}
