/* Section content wrapper */

:root {
  --section-gap: 1rem;
  --section-padding-top: var(--content-padding-top);
  --section-padding-right: 0;
  --section-padding-bottom: var(--content-padding-bottom);
  --section-padding-left: 0;
  --section-max-width: 100%;
}
