/* Section content wrapper */

:root {
  --section-gap: 1rem;
  --section-padding-top: var(--content-padding-top);
  --section-padding-right: var(--content-padding-right);
  --section-padding-bottom: var(--content-padding-bottom);
  --section-padding-left: var(--content-padding-left);
  --section-max-width: 100%;
}
