/* Section content wrapper */

:root {
  --section-content-wrapper-gap: var(--content-gap);
  --section-content-wrapper-padding-top: 0;
  --section-content-wrapper-padding-right: 0;
  --section-content-wrapper-padding-bottom: 0;
  --section-content-wrapper-padding-left: 0;
  --section-content-wrapper-max-width: 82rem;
}
