/* sidemenu.scss */

:root {
  --sidemenu-list-item-list-style: none;

  /* content on the button when the menu is collapsed */
  --sidemenu-collapsed-button-icon: var(--icon-hamburger);

  /* content on the button when the menu is expanded */
  --sidemenu-expanded-button-icon: var(--icon-close);
  --sidemenu-button-icon-font-size: 0.7rem;

  /* content */
  --sidemenu-content-container-padding-top: var(--page-whitespace-top);
  --sidemenu-content-container-padding-right: var(--page-whitespace-right);
  --sidemenu-content-container-padding-bottom: var(--page-whitespace-bottom);
  --sidemenu-content-container-padding-left: var(--page-whitespace-left);
}
