@use "../../variables";

/* Font: Ro Sans Web - Rijksoverheid font */

/* RO Sans Web */

/* Regular */
@font-face {
  font-family: "RO Sans Web";
  font-weight: normal;
  font-style: normal;
  font-display: var(--text-body-font-display, fallback);
  src:
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Regular.woff2") format("woff2"),
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Regular.woff") format("woff"),
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RO Sans Web";
  font-weight: normal;
  font-style: italic;
  font-display: var(--text-body-font-display, fallback);
  src:
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Italic.woff2") format("woff2"),
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Italic.woff") format("woff"),
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Italic.ttf") format("truetype");
}

/* Bold */
@font-face {
  font-family: "RO Sans Web";
  font-weight: bold;
  font-style: normal;
  font-display: var(--text-body-font-display, fallback);
  src:
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Bold.woff2") format("woff2"),
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Bold.woff") format("woff"),
    url("#{variables.$font-path}/ro-sans-web/RO-SansWebText-Bold.ttf") format("truetype");
}
