/* radio.scss */
@mixin radio-checkbox-styling($type) {
    input[type="#{$type}"] {
        vertical-align: top;

        &+label {
            cursor: pointer;
        }
    }

    @supports (appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none) {
        input[type="#{$type}"] {
            flex-grow: 0;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            box-sizing: border-box;
            min-height: auto;

            cursor: pointer;
            background-color: white;
            min-height: auto;
            flex-grow: 0;

            border: 0.125rem solid black;

            &:disabled {
                background-color: var(--grey-3);
                cursor: not-allowed;
            }
        }
    }
}