/* Article content wrapper */

:root {
	--article-gap: 1rem;
	--article-padding-top: var(--content-padding-top);
	--article-padding-right: var(--content-padding-right);
	--article-padding-bottom: var(--content-padding-bottom);
	--article-padding-left: var(--content-padding-left);
	--article-max-width: 100%;
}
