/* Article content wrapper */

:root {
	--article-content-wrapper-gap: var(--content-gap);
	--article-content-wrapper-padding-top: 0;
	--article-content-wrapper-padding-right: 0;
	--article-content-wrapper-padding-bottom: 0;
	--article-content-wrapper-padding-left: 0;
	--article-content-wrapper-max-width: 82rem;
}
