/* Article content wrapper */

:root {
	--article-gap: 1rem;
	--article-padding-top: 3rem;
	--article-padding-right: 3.5rem;
	--article-padding-bottom: 3rem;
	--article-padding-left: 3.5rem;
	--article-max-width: 100%;
}
