/* Layout set */

:root {
	/* Page */
	--page-whitespace-top: 4rem;
	--page-whitespace-right: 2%;
	--page-whitespace-bottom: 4rem;
	--page-whitespace-left: 2%;

	/* Content */
	--content-flex-direction: column;
	--content-justify-content: flex-start;
	--content-align-items: flex-start;
	--content-gap: 3rem;
	--content-padding-top: 2rem;
	--content-padding-right: 3%;
	--content-padding-bottom: 2rem;
	--content-padding-left: 3%;
	--content-max-width: 80rem;
}
