/* Message counter */

:root {
	/* Message counter */
	--message-counter-background-color: #fff;
	--message-counter-text-color: var(--ruby-red);
  	--message-counter-base-padding: 0;

	--message-counter-base-background-color: var(--message-counter-background-color);
	--message-counter-base-text-color: var(--message-counter-text-color);
}
