/* Navigation content wrapper */

:root {
	--navigation-justify-content: flex-start;
	--navigation-background-color: var(--ruby-red-background-color);
	--navigation-text-color: var(--ruby-red-text-color);
	--navigation-min-height: 3.5rem;
	--navigation-padding-top: 0;
	--navigation-padding-bottom: 0;
}
