/* Section content wrapper */

:root {
	--section-gap: 1rem;
	--section-padding-top: 3rem;
	--section-padding-right: 3.5rem;
	--section-padding-bottom: 3rem;
	--section-padding-left: 3.5rem;
	--section-max-width: 100%;
}
