/* Section content wrapper */

:root {
	--section-content-wrapper-gap: 1rem;
	--section-content-wrapper-padding-top: 0;
	--section-content-wrapper-padding-right: 0;
	--section-content-wrapper-padding-bottom: 0;
	--section-content-wrapper-padding-left: 0;
	--section-content-wrapper-max-width: 82rem;
}
