name: Capture Screenshots

on:
  workflow_call:
    inputs:
      folder:
        description: 'Folder to store screenshots'
        type: string
        required: true
        default: 'expected'
    secrets:
      REPO_READ_ONLY_TOKEN:
        required: true

jobs:
  capture-screenshots:
    name: Capture ${{ inputs.folder }} screenshots
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Capture screenshots
        uses: ./.github/actions/capture-screenshots
        with:
          folder: ${{ inputs.folder }}
          npm-token: ${{ secrets.REPO_READ_ONLY_TOKEN }}
