name: Publish package

on:
  push:
    tags: ["v*"]

jobs:
  publish:
    name: Publish to GitHub
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup
        uses: ./.github/actions/setup
        with:
          NODE_AUTH_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }}

      - name: Prepare release version and tag
        run: |
          RELEASE_VERSION=${GITHUB_REF#refs/*/}
          NPM_TAG=$(echo ${RELEASE_VERSION} | grep -oP '^v\d+\.\d+\.\d+-?\K(\w+)?')
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
          echo "NPM_TAG=${NPM_TAG:-latest}" >> $GITHUB_ENV

      - name: Update package.json with release version
        run: npm version --no-git-tag-version ${{ env.RELEASE_VERSION }}

      - name: Publish package to GitHub Package Registry
        run: npm publish --tag ${{ env.NPM_TAG }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
