name: Npm

on:
  push:
  pull_request:
    branches: [main]

jobs:
  visual-testing:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: "https://npm.pkg.github.com"
          cache: "npm"
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }}
      - run: npm rebuild puppeteer
      - name: Install reg-cli
        run: npm install -g reg-cli
      - run: npm run build:docs:production
      - name: Create screenshots
        run: node tests/capture-screenshots.js
      - name: Run visual regression test tool
        run: reg-cli tests/screenshots/actual tests/screenshots/expected tests/screenshots/diff -R tests/screenshots/report.html
      - name: Upload visual testing report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: visual-testing-report
          path: |
            tests/screenshots
          retention-days: 7
