name: Visual Testing

on:
  pull_request:

  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  capture-screenshots:
    uses: ./.github/workflows/capture-screenshots.yml
    secrets:
      REPO_READ_ONLY_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }}

  visual-testing:
    if: ${{ github.event_name == 'pull_request'  }}
    name: Compare screenshots
    needs: capture-screenshots
    runs-on: ubuntu-latest
    steps:
      - name: Create folders
        run: |
          mkdir -p screenshots/actual
          mkdir -p screenshots/expected
          mkdir -p screenshots/diff
      - name: Download actual screenshots
        uses: actions/download-artifact@v3
        with:
          name: screenshots
          path: screenshots/actual
      - name: Download expected screenshots
        uses: dawidd6/action-download-artifact@v2.27.0
        with:
          branch: main
          name: screenshots
          path: screenshots/expected
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install reg-cli
        run: npm install -g reg-cli
      - name: Run visual regression test tool
        run: reg-cli screenshots/actual screenshots/expected screenshots/diff -R screenshots/report.html
      - name: Upload visual testing report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: visual-testing-report
          path: |
            screenshots
          retention-days: 7
      - name: Delete screenshots artifact
        uses: geekyeggo/delete-artifact@v2
        with:
          name: screenshots
