name: Visual Testing

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  capture-actual-screenshots:
    uses: ./.github/workflows/capture-screenshots.yml
    with:
      folder: actual
    secrets:
      REPO_READ_ONLY_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }}

  expected-screenshots:
    name: Set expected screenshots
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create folders
        run: |
          mkdir -p screenshots/expected
      - name: Download expected screenshots
        uses: dawidd6/action-download-artifact@v3.0.0
        with:
          workflow: expected-screenshots.yml
          branch: main
          name: screenshots-expected
          path: screenshots/expected
          if_no_artifact_found: ignore
        continue-on-error: true
      - name: Check if expected screenshots folder is not empty
        id: expected-screenshots-exist
        run: |
          if [ "$(ls -A screenshots/expected)" ]; then
              echo "Expected screenshots folder is not empty"
              echo "exist=true" >> $GITHUB_OUTPUT
          else
              echo "Expected screenshots folder is empty"
              echo "exist=false" >> $GITHUB_OUTPUT
          fi
      - if: ${{ steps.expected-screenshots-exist.outputs.exist == 'false' }}
        name: Capture screenshots from main
        uses: ./.github/actions/capture-screenshots
        with:
          ref: main
          folder: expected
          npm-token: ${{ secrets.REPO_READ_ONLY_TOKEN }}

      - if: ${{ steps.expected-screenshots-exist.outputs.exist == 'true' }}
        name: Upload screenshots
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-expected
          path: screenshots/expected

  visual-testing:
    if: ${{ github.event_name == 'pull_request'  }}
    name: Compare screenshots
    needs: [capture-actual-screenshots, expected-screenshots]
    runs-on: ubuntu-latest
    steps:
      - name: Create folders
        run: |
          mkdir -p screenshots/actual
          mkdir -p screenshots/expected
          mkdir -p screenshots/diff
      - name: Download expected screenshots
        uses: actions/download-artifact@v4
        with:
          name: screenshots-expected
          path: screenshots/expected
      - name: Download actual screenshots
        uses: actions/download-artifact@v4
        with:
          name: screenshots-actual
          path: screenshots/actual
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install reg-cli
        run: npm install -g reg-cli
      - name: Run visual regression test tool
        run: reg-cli screenshots/actual screenshots/expected screenshots/diff -R screenshots/report.html
        continue-on-error: true
      - name: Upload visual testing report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: visual-testing-report
          path: |
            screenshots
          retention-days: 7
      - name: Delete screenshots artifact
        if: always()
        uses: geekyeggo/delete-artifact@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: |
            screenshots-*
